<div class="page-container">
  <div class="left-container">
    <div class="logo">
      <img src="../assets/logo.svg" alt="logo">
    </div>

    <div class="mobile-hero"></div>

    <div class="content">
      <span class="title thin desaturated-Red">
        WE'RE
        <span class="bolder default-Color">COMING SOON</span>
      </span>

      <p class="desaturated-Red">
        Hello fellow shoppers! We're currently building our new
        fashion store. Add your email below to stay up-to-date with
        announcements and aur launch deals.
      </p>

      <div class="mail-form">
        <form class="example-form">
          <input type="email" placeholder="Email Address" />
          <button class="merged-gradient submit" type="submit">
            <img alt="arrow" src="../assets/icon-arrow.svg" />
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="right-container">
    
  </div>
</div>
